$orange_color:#e8aa67;
$lightgreen_color:#c7cc62;
$darkgreen_color:#879d4d;
$gray_color:#606060;
@mixin size($w, $h) {
    width: $w;
    height: $h;
}
body {

    width: 100vw;
    overflow-x: hidden;
}
// *{
//     border: 1px solid red;
// }
.F_container {
    width: 85%;
    margin: auto;
}

.F_index_title {
    width: 110%;
    margin-left: -5%;
}

.F_shop_all {
    display: flex;
    width: 100%;
}

.F_shop_box {
    width: 35%;
}

.F_shop_brand {
    height: 300px;
    margin: 20px;
    overflow: hidden;
}

.F_shop_brand img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.F_shop_hover_box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 2px #fff;
    width: 90%;
    height: 90%;
    display: none;
}

.F_shop_hover_text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 36px;
    letter-spacing: 2px;
    text-align: center;
    display: none;
}

.F_shop_hover_text h5 {
    font-size: 12px;
    letter-spacing: 0;
}

/*hover*/

.F_shop_hover:hover .F_shop_hover_box {
    display: block;
}

.F_shop_hover:hover .F_shop_hover_text {
    display: block;
}

.F_shop_hover:hover .F_shop_brand img {
    filter: brightness(.5);
}

.F_wood,
.F_wood img {
    height: 624px;
}

/* 玩玩知音 */

.F_play_title {
    width: 115%;
    margin-left: -7%;
}

.F_paly_all {
    display: flex;
    margin: 100px 0;
}

.F_play_pic,
.F_play_text {
    width: 50%;
    height: 500px;
}

.F_play_pic {
    overflow: hidden;
}

.F_play_pic img {
    width: 130%;
    height: 500px;
    object-fit: cover;
    object-position: -130px 0;
}

.F_play_text {
    padding: 40px 10px 0 60px;
}

.F_play_text_bottom {
    padding: 40px 60px 0 10px;
}

.F_play_text h3 {
    font-size: 24px;
    letter-spacing: 1px;
}

.F_h3_bottom {
    text-align: right;
}

.F_p_top {
    margin-top: 40px;
    line-height: 40px;
}

.F_p_bottom {
    margin-top: 80px;
    line-height: 40px;
}

.F_colorful_line {
    width: 150px;
    margin: 12px 20px;
}

.F_muise_box {
    width: 60px;
}

.F_muise_box_box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: -40px;
    right: 0;
}

.F_muise_box_box_bottom {
    right: 70px;
}

.F_colorful_line2 {
    margin: 12px 0;
}

.F_colorful_line4 {
    float: right;
    margin-right: -20px;
}

.F_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 350px 200px 0;
    border-color: transparent #e8aa676b transparent transparent;
    position: absolute;
    right: 0;
    top: 0;
}

.F_triangle_top {
    border-width: 200px 350px 0 0;
    border-color: #e8aa676b transparent transparent transparent;
    left: 0;
}

/*按鈕在這*/

.F_know_more {
    margin: 80px 0;
    float: right;
    padding: 15px 10px;
    width: 150px;
    border-radius: 10px;
    background-color: #e8aa67;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.F_play_wood {
    float: left;
}



.Y_container{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.Y_container2{
    width: 85%;
    margin: auto;
}
.F_container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    
}

//banner
.Y_linehight{

margin-bottom: 10px;
}
.Y_linehight2{
    
    margin-bottom: 16px;
    }

.Y_bg{
    display: flex;
    position: relative;
    justify-content:center;
    flex-direction: column;
        // color: white;
    // position: absolute;
   
    margin: auto;
   
}
.Y_words{
    position: absolute;
    top: 50%;
   left: 50%;
    transform: translate(-50%,-50%);
}
.Y_title{
    display: flex;
    justify-content:center;
    flex-direction: column;
        color: white;
    // position: absolute;
    // top: 50%;
    text-align: center;
}

.Y_icon{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: auto;
}
.Y_icon2{
    width: 100px;
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin: auto;
    

}
.Y_triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 16px 16px;
    border-color: #fff transparent transparent transparent;
    margin: auto;
    margin-top:8px;
}
.Y_icon3{
    height: 6px;
    width: 100%;
    
}
//nav
.Y_nav{
    margin: 20px 0 30px 0;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}
.Y_color_icon{
    width: 30px;
}
.Y_looknews{
    font-size: 1.5em;
    font-weight: 700;
    margin-left: 10px;
}
//dropMenu
#demo {
    margin: 30px 0 50px 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

#demo .wrapper {
    display: inline-block;
    width: 300px;
    margin: 10px 10px 0 0;
    height: 20px;
    position: relative;
}

#demo .parent {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    line-height: 40px;
    height: 40px;
    border-radius: 5px;
    background: #F9F9F9;
    border: 1px solid #AAA;
    border-bottom: 1px solid #777;
    color: #282D31;
    font-weight: bold;
    z-index: 2;
    position: relative;
    -webkit-transition: border-radius .1s linear, background .1s linear, z-index 0s linear;
    -webkit-transition-delay: .8s;
    text-align: center;
    // padding: 0 36px;
}

#demo .parent:hover,
#demo .content:hover ~ .parent {
    background: #fff;
    -webkit-transition-delay: 0s, 0s, 0s;
}

#demo .content:hover ~ .parent {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 0;
}

#demo .content {
    position: absolute;
    top: 0;
    display: block;
    z-index: 1;
    height: 0;
    width: 300px;
    padding-top: 30px;
    -webkit-transition: height .5s ease;
    -webkit-transition-delay: .4s;
    border: 1px solid #777;
    border-radius: 5px;
    // box-shadow: 0 1px 2px rgba(0,0,0,.4);
}

#demo .wrapper:active .content {
    // height: 123px;

    z-index: 3;
    -webkit-transition-delay: 0s;
}

#demo .content:hover {
    // height: 123px;
    z-index: 3;
    -webkit-transition-delay: 0s;
}


#demo .content ul {
    background: #fff;
    margin: 10px 0 0 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#demo .content ul a {
    text-decoration: none;
}

#demo .content li:hover {
    background: #c7cc62;
    color: white;
}

#demo .content li {
    list-style: none;
    text-align: left;
    color: #888;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    padding-left: 10px;
    border-top: 1px solid #ccc;
}

#demo .content li:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Y_caret-down-solid{
    width: 8px;
    color: white;
    float: right;
    top: 50%;
    transform: translateY(-50%);
   
    background: #c7cc62;
    padding: 14px;

}
.Y_pricebutton{
    bottom: 0px;
    display: flex;
    justify-content: center;
    padding-top: 18px;
}
.Y_addCartbutton, .Y_addListbutton{
    background-color: white; 
    border: 1px solid black;
    border-radius: 8px;
    color: black;
    padding: 4px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
.Y_addCartbutton:hover, .Y_addListbutton:hover{
    background-color: $gray_color; 
    color: white;
}
//cards

.Y_news {
    // padding-bottom: 100px;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    
}
.Y_news_title{
    padding-bottom: 50px;
}

.Y_news_container {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-bottom:120px;
    flex-direction: row;
    flex-wrap:wrap;
}

.Y_news_box {
    width: 27%;
    // height: 600px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 48px;
}

.Y_orange_box {
    height: 200px;
    background-color: #e8aa67;
    padding: 5px;
}

.Y_green_box {
    background-color: #c7cc62;
    width: 110px;
    margin: 10px -20px;
    text-align: center;
    font-size: 24px;
    line-height: 45px;
    font-weight: bold;
    color: #fff;
}

.Y_green_box::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 20px 0;
    border-color: transparent $gray_color transparent transparent;
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: -1;
}

.Y_green_box::after {
    content: "";
    display: block;
    width: 3px;
    height: 45px;
    position: absolute;
    border-right: solid 4px #fff;
    border-left: solid 4px #fff;
    top: 0;
    right: 0;
}

.Y_circle_pic {
    width: 70%;
    height: 0;
    padding-bottom: 70%;
    margin: -135px auto;
    border-radius: 50%;
    border: solid 5px #fff;
    overflow: hidden;
}

.Y_circle_pic img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0px -30px;
}

.Y_news_box h5 {
    font-size: 18px;
    border-bottom: solid 2px $gray_color;
    padding: 15px 0;
    margin: 135px auto 20px;
    width: 80%;
    color: $gray_color;
}

.Y_news_box p {
    font-size: 18px;
    font-weight: bold;
    color: $gray_color;
    line-height: 30px;
    margin: 20px auto;
    padding: 20px;
    
    white-space: nowrap;
    text-overflow : ellipsis;
    overflow: hidden;
}

.Y_news_btn {
    float: initial;
    margin: 0px auto 50px;
}
.Y_know_more {
    margin: 40px auto;
    // float: right;
    padding: 15px 10px;
    width: 150px;
    border-radius: 10px;
    background-color: #e8aa67;
    color: #fff;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}
.Y_know_more2{
    cursor: pointer;
    // position: relative;
}
.Y_know_more3{
    // position: absolute;
    top: -80px;
    color: white;
    margin: 0;
    padding: 0;

}
.Y_more{
    float: initial;
    margin: 0px auto ;
    padding: 15px 10px;
    width: 350px;
    border-radius: 10px;
    background-color: transparent;
    color: #e8aa67;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid #e8aa67;
    font-size: 1.5em;
}
.Y_triangle2 {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 24px 28px 0px 28px;
    border-color: #fff transparent transparent transparent;
    margin: 4px auto;
    // padding: 8px;
    // margin-top:8px;
    // background: #316DB5;
}
.Y_triangle2_bg{
    width: 100%;
    padding: 0px 0;
    background: #316DB5;
}
//test
#tab-panel {
    max-width: 690px;
    margin: 0 auto;
    padding-top: 50px;
    font-family: arial;
}
#tab-panel .tabs {
    margin-bottom: 20px;
    background: #FFF;
    overflow: hidden;
    text-align: center;
}
#tab-panel .tabs a {
    float: left;
    display: block;
    width: 33.33%;
    padding: 15px 0;
    border: 1px solid #CCC;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    transition: all .3s;
}
#tab-panel .tabs a.active {
    background: #09C;
    color: #FFF;
}
#tab-panel .tab-content {
    border: 1px solid #CCC;
}
#tab-panel .tab-content > li {
    display: none;
    padding: 20px;
    font-size: 14px;
    color: #666;
    line-height: 25px;
}